<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= title %></title>
  <script>
  window.data = <%- data %>;
  </script>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="/javascripts/test.js" charset="UTF-8"></script>

  <link rel='stylesheet' href='/stylesheets/test.css' />
</head>

<body>
  <svg id="chart1"></svg>
  <svg id="chart2"></svg>
</body>

</html>
